.selectContainer{
    margin-top:10px;
}

.contentsContainer{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
    background-color: gray;
    opacity: 0.5;
}
.tweetForm{
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    z-index: 10;
    border:solid 1px gray;
}

#modalOverlay{
    z-index:8;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.75);
}
#modalContent{
	/* margin:1.5em auto 0; */
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
    z-index:9;
    top:25%;
    left:25%;
    right:25%;
    bottom:25%;
    position: absolute;;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.buttonLink{
	color:#00f;
	text-decoration:underline;
}
 
.buttonLink:hover{
	cursor:pointer;
	color:#f00;
}
.textField{
    width:50%;
}
.textFieldContainer{
    height:300px;
    background-color: skyblue;
}
.inputContent{
    height:100px;
    width:100%;
    margin-bottom: 20px;
}
.inputScore{
    height:25px;
    width:100%;
    margin-bottom: 10px;   
}
.form{
    display:flex;
    justify-content: center; 
    flex-direction: column;
}
