.cardContainer{
    text-align: center;
    height:auto;
    width: 600px;
    margin:2px 0px;
}
.avatar{
    background-image: url('../assets/images/1024x1024bb.jpg');
    width: 100%;
    height:100%;
    object-fit: cover;
}