.contentsContainer{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
    background-color: gray;
    opacity: 0.5;
}
.tweetForm{
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    z-index: 10;
    border:solid 1px gray;
}